@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Application uses</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="About">Page requiring authentication (use Azure AD)</a></li>
            <li><a asp-controller="Home" asp-action="About" asp-route-domain_hint="macdebugaad.segestest.dk">Page requiring authentication (use SEGES login)</a></li>
        </ul>
    </div>
</div>
